<div class="container">
    <p>

        <mat-toolbar-row class="title">
          <h1 class="title-align">Login</h1>
        </mat-toolbar-row>

        <mat-divider></mat-divider>
    
        <mat-grid-list cols="1" rowHeight="4:1">
          <mat-grid-tile>
              <mat-card class="notes-card">
                <div role="group" [formGroup]="loginFormGroup">
                    <p>
                      <mat-form-field appearance="legacy">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="username" placeholder="type your username">
                      </mat-form-field>
                    </p>
                    <p>
                      <mat-form-field appearance="standard">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Placeholder" formControlName="password" placeholder="type your password" type="password">
                      </mat-form-field>
                    </p>
                    <p>
                      <button mat-stroked-button color="primary" (click)="loginUser()">Login</button>
                    </p>

                    <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
                </div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>

      </p>
</div>